<h1>Product Details</h1>
<div class="container">
    <div class="row">
      <div class="col-md-7 d-flex justify-content-center align-items-center">
        <img [src]="imageUrl" alt="" class="img-fluid">
      </div>
      <div class="col-md-5 d-flex flex-column justify-content-between">
        <div>
          <h3>{{item.title}}</h3>
          <p><strong>Price:$</strong>{{price}}</p>
          <p><strong>Album ID:</strong> {{item.albumId}}</p>
          <p><strong>ID:</strong> {{item.id}}</p>
        <button (click)="addtocart(item)" class="btn btn-primary align-self-end">Add To Cart</button>
        <br>
        <br>
        <p>Easy 15 days return and exchange. Return Policies may vary based on products and promotions. For full details on our Returns Policies, please click here․</p>
        <ul>
          <li>Package contains: 1 jeans</li>
           <li>Dry clean</li> 
            <li>Mid Rise</li>
            <li>98% cotton, 2% elastane</li>
            <li>Product Code: 441697467005</li>
        </ul>
        <div>
          <h4>Ratings:</h4>
          <div *ngFor="let rating of ratings">
            <p>Rated {{rating.value}} out of 5 stars by {{rating.user}}</p>
            <div  style="color: rgb(239, 214, 28);"class="rating-stars">
              <i class="fa fa-star" [ngClass]="{'checked': rating.value >= 1}"></i>
              <i class="fa fa-star" [ngClass]="{'checked': rating.value >= 2}"></i>
              <i class="fa fa-star" [ngClass]="{'checked': rating.value >= 3}"></i>
              <i class="fa fa-star" [ngClass]="{'checked': rating.value >= 4}"></i>
              <i class="fa fa-star" [ngClass]="{'checked': rating.value >= 5}"></i>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  