.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  body {
    margin: 0;
    padding: 0;
  }
  .input-group-text {
    cursor: pointer;
  }
  .bi-eye{
    position:absolute;
    z-index: 10;
    right: 5%;
    top: 7px;
    color:rgb(16, 16, 24);
}
.btn-primary{
  text-align: center;
  left:10;
}
