<h1>All Products</h1>
<div class="card-top container-fluid">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
      <ng-container *ngFor="let item of productList">
        <div class="col">
          <div class="card">
            <a [routerLink]="['/product-details', item.id]">
              <img [src]="imageUrl[item.id]" class="card-img-top lazy-load-image" alt="...">
            </a>
            <h5 class="card-title">{{item.title}}</h5>
            <h5 class="card-subtitle">{{item.albumId}}</h5>
            <p class="card-text"><strong>Price:</strong> $100</p>
            <p class="card-text"><strong></strong> {{item.url}}</p>
            <button (click)="addtocart(item)" class="btn btn-primary">Add To Cart</button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
